/* Add a black background color to the top navigation */

html {
  scroll-behavior: smooth;
}

body {
  margin:0;
  padding:0;
  }

.topnav {
    position: sticky;
    top: 0%;
    left: 0%;
    background-color: #ffffff;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    position: relative;
    float: left;
    color: #000000;
    background-color: aqua;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #0905ff;
    color: white;
  }
  .topnav a.split {
    float: right;
    background-color: rgb(0, 60, 255);
    color: white;
  }

  .mobile-only {
    display: none;
  }

  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .topnav a {
      width: 100%;
    }
    .topnav {
      position: relative;
    }
    .welcome {
      background-position: center;
    }
    .mobile-only {
      display: block;
      font-weight: bold;

    }
  }
  
  .container {
    text-align: center;
  }
  

  .welcome {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(168, 141, 141, 0.5)), url("drink.jpg");
    height: 600px;
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
  }



  .welcome-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
  }
  
  .Labding_button {
    background-color: transparent;
    border: 2px solid green;
    cursor: pointer;
    border-radius: 5px;
    padding: 16px 30px;
  }

  .Labding_button:hover {
    background-color: green;
  }

  .About {
    height: 600px;
    background-color: antiquewhite;
  }
  .box {
    
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
  }

  .Contact {
    height: 600px;
    background-color: #ddd;
  }

  .contact {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .footer{
    position: relative;
    top: 2%;
    left: 2%;
    width: max-content;
  }

  .Products {
    height: 600px;
    text-align: center;
    background-color: aliceblue;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-self: center;
    max-width: 400px;
    max-height: auto;
    text-align: center;
    font-family: arial;
    display: inline-block;
    vertical-align: middle;
  }

  @media only screen and (max-width: 800px) {
    .card {
      max-width: 35%;
      height: auto;
    }
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  @keyframes mascot {
    0% {}
    50% {transform: translateY(20px);}
    100% {top:0px}

  }

  img.mascot {
    display: none;
    position: sticky;

    bottom: 4%;
    left: 90%;
    max-width: 100px;
    height: auto;
    animation: mascot 2s  infinite;
    
  }

  img.mascot:hover {
    cursor: pointer;
    
  }



  /* Popup container - can be anything you want */
  .popup {
    position: sticky;
    bottom: 4%;
    left: 90%;
    max-width: 100px;
    height: auto;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  
